.vscode/**
.vscode-test/**
out/**
test/**
src/**
**/*.map
.gitignore
.yarnrc
vsc-extension-quickstart.md
*.vsix
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
featureimages/**
ovsx.key
node_modules/**
publish.sh
