${namespaces}using System.Windows;
using System.Windows.Controls;

namespace ${namespace}
{
    public sealed partial class ${classname} : UserControl
    {
        public ${classname}()
        {
            this.InitializeComponent();${cursor}
        }
    }
} 