${namespaces}using System.Windows;
using System.Windows.Controls;

namespace ${namespace}
{
    /// <summary>
    /// Interaction logic for ${classname}.xaml
    /// </summary>
    public partial class ${classname} : Window
    {
        public ${classname}()
        {
            InitializeComponent();
        }
    }
}
